@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #1f2937; /* gray-800 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #4b5563; /* slate-600 */
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* slate-500 */
}
